.advantages {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    padding: 20px;
    padding-bottom: 49px;

    border-bottom: 1px solid #e6e6e6;
  }
}

.advantages__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    border-bottom: none;
  }
}

.advantages__title {
  @include head-font-style;

  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 154px;
    row-gap: 37px;

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 60px;
    }
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  align-items: center;

  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    align-items: start;

    padding-top: 40px;
    padding-right: 72px;
    min-height: 280px;

    counter-increment: process;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(process);
      position: absolute;
      top: 0;
      right: 80px;
      z-index: -1;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
    }
  }
}

.advantages__description {
  color: $color-gray-5;

  @media (min-width: $tablet-width) {
    color: $color-gray-5;

    font-size: 16px;
    line-height: 24px;

    margin: 0;

    align-self: start;
  }
}

.advantages__icon {
  display: inline-block;

  background-color: $basic-green;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__icon--leaf {
  background-image: url("../img/leaf-icon.svg");
}

.advantages__icon--tub {
  background-image: url("../img/tub-icon.svg");
}

.advantages__icon--eat {
  background-image: url("../img/eat-icon.svg");
}

.advantages__icon--alarm {
  background-image: url("../img/alarm-icon.svg");
}
