.advantages {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  @include head-font-style;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 30px;

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.advantages__description {
  color: $color-gray-5;
}

.advantages__icon {
  display: inline-block;

  background-color: $basic-green;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;

  width: 60px;
  height: 60px;
}

.advantages__icon--leaf {
  background-image: url("../img/leaf-icon.svg");
}

.advantages__icon--tub {
  background-image: url("../img/tub-icon.svg");
}

.advantages__icon--eat {
  background-image: url("../img/eat-icon.svg");
}

.advantages__icon--alarm {
  background-image: url("../img/alarm-icon.svg");
}
