.button {
  @include a-reset;
  @include base-font-style;
  font-family: $font-header;
  text-transform: uppercase;

  color: $basic-white;
  background-color: $basic-green;

  padding: 11px 12px;
  display: inline-block;

  border: none;
}
