.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__link-title {
  @include a-reset;
  @include title-catalog;
}

.card__definition-block {
  color: $color-gray-5;

  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
