.cat-data {
  border: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cat-data__item {
  display: flex;
  flex-wrap: wrap;
}

.cat-data__label {
  color: $color-gray-5;
  font-family: $font-header;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.cat-data__input {
  flex-grow: 1;
  color: $color-gray-5;
  font-family: $font-header;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
