.contacts {
  @include fieldset-reset;
  padding: 0 20px 24px;

  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 25px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__header {
  padding: 0 20px;
  margin-bottom: 35px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
    padding: 0 40px;
    margin-left: -40px;

    br {
      display: none;
    }
  }
}

.contacts__item {
  position: relative;
}

.contacts__input {
  padding-right: 40px;
}

.contacts__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  color: $color-gray-6;
}
