.form__title {
  @include head-font-style;
  line-height: 36px;

  margin-bottom: 37px;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-top: 0;
    margin-bottom: 54px;
  }
}

.form__description {
  color: $basic-black;
  font-family: $font-header;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 66px;
  }
}

.form__text {
  color: $basic-black;
  text-align: center;
  line-height: 16px;
}

.form__wrapper--top {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 80px;
  }
}

.form__wrapper--bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;

    margin-bottom: 72px;
  }
}
