.form {
  padding-left: 20px;
  padding-right: 20px;
}

.form__title {
  @include head-font-style;
  line-height: 36px;
}

.form__description {
  color: $basic-black;
  font-family: $font-header;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__text {
  color: $basic-black;
  text-align: center;
  font-family: $font-body;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
