.optionally {
  position: relative;
  margin-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    z-index: -1;

    height: 2px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &::before {
      top: 22px;
    }
  }
}

.optionally__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 86px;
  }
}

.optionally__title {
  color: $basic-black;
  background-color: $basic-white;
  font-family: $font-header;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: max-content;

  position: relative;
  padding: 0 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 80px;
    margin-top: 0;

    padding: 0 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -35px;
  }
}

.optionally__list {
  @include list-reset;

  @media (max-width: 767px) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) and (max-width: 1299px) {
    margin-bottom: 69px;
  }
}

.optionally__item {
  display: grid;
  grid-template-columns: auto;

  border-bottom: 1px solid $color-gray-3;
  padding: 13px 20px 18px;

  &:first-child {
    border-top: 1px solid $color-gray-3;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px 38px;

    border: 1px solid $color-gray-3;
    border-bottom: none;

    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    &:last-child {
      border-bottom: 1px solid $color-gray-3;
    }
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    padding: 15px 0 14px 0;
    width: 895px;

    grid-template-columns: 286px 206px 1fr 244px;
    grid-template-rows: auto;
    gap: 38px;
  }
}

.optionally__position-title {
  color: $color-gray-6;

  font-family: $font-header;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: start;

    font-size: 20px;
    line-height: 20px;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.optionally__description,
.optionally__description-price {
  color: $color-gray-5;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    text-align: end;

    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0;
    margin-right: auto;
  }
}

.optionally__description {
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-bottom: 10px;
  }
}

.optionally__description-price {
  grid-column: 2/3;
  justify-self: end;

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
  }
}

.optionally__button {
  grid-column: 1/3;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1/4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;

    width: 244px;
  }
}

.optionally__gift-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 280px;
  height: 290px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 59px 0 43px;

  background-image: url("../img/catalog/cat-gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $basic-green;

  @media (min-width: $tablet-width) and (max-width: 1299px) {
    width: 100%;
    height: 200px;
    margin-bottom: 76px;
    padding: 55px 125px 53px 76px;

    flex-direction: row;
    justify-content: space-between;
    background-position: 0 60%;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;

    margin: 0;
    margin-left: auto;
    background-position: 100% 0;
  }
}

.optionally__gift-info-image {
  @media (min-width: $tablet-width) and (max-width: 1299px) {
    margin-bottom: auto;
    width: 80px;
    height: 82px;
  }
}

.optionally__gift-info-text {
  color: $basic-white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) and (max-width: 1299px) {
    text-align: left;
  }
}
