.page-header {
  background-color: $basic-white;
}

.page-header__container {
  height: 66px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
