.page-header {
  position: relative;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.page-header__background {
  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;

      background-image: url("../img/index-background-program-big.jpg");
      background-color: #63a63b;
      top: 0;
      right: 0;
      bottom: -655px;
      left: 50%;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: 0 100%;
    }
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 13px;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.page-header__nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;

    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page-header__logo {
  @include a-reset;
}

.page-header__toggle {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  z-index: 2;
  background-color: transparent;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }
}
