
.page-main__title {
  @include head-font-style;

  text-align: start;
  line-height: 36px;

  width: fit-content;
  margin-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-top: 0;
    margin-bottom: 82px;
    padding: 0;
  }
}
