.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.program__title {
  color: $basic-white;

  font-family: $font-header;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

  margin-top: 27px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
}

.program__description {
  color: $basic-white;

  font-family: $font-header;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;

  margin-bottom: 27px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    color: $basic-black;

    font-size: 20px;
    line-height: 20px;
  }
}

.program__button {
  align-self: stretch;
  text-align: center;
}

.program__container {
  @media (max-width: 767px) {
    width: 320px;
    height: 302px;
    background-image: url("../img/index-background-program.png");
    background-repeat: no-repeat;
    background-color: $basic-green;
    background-blend-mode: soft-light;
  }
}
