.site-nav {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.site-nav__item {
  height: 66px;
  width: 100%;

  display: flex;
  justify-content: space-around;

  border-top: 1px solid #e6e6e6;
}

.site-nav__link {
  @include a-reset;

  align-self: center;

  color: $basic-black;

  font-family: $font-header;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;

  text-transform: uppercase;
}
