.switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.switcher__button {
  @include reset-button;

  color: $basic-black;

  font-family: $font-header;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.switcher__img {
  background-image: url("../img/slider-mini.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 86px;
  height: 14px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__bar {
  width: 426px;
  height: 6px;

  border-radius: 6px;
  background: #dcdcdc;

  @media (max-width: 767px) {
    display: none;
  }
}
