@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/oswaldregular.woff) format("woff"), url(../fonts/oswaldregular.woff2) format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/oswaldmedium.woff) format("woff"), url(../fonts/oswaldmedium.woff2) format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

input:disabled ~ span {
  opacity: 0.3;
}

input[type=range] {
  -webkit-appearance: none;
          appearance: none;
}

.address {
  position: relative;
}
.address--back {
  background-color: #f2f2f2;
}
@media (min-width: 1300px) {
  .address--back {
    background-color: #ffffff;
  }
}

.address__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 280px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .address__wrapper {
    width: 708px;
    padding: 60px 70px 56px;
  }
}
@media (min-width: 1300px) {
  .address__wrapper {
    position: absolute;
    width: 565px;
    height: 198px;
    top: 50%;
    right: 54%;
    transform: translateY(-50%);
    background-color: #ffffff;
  }
}

.address__wrapper-text {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .address__wrapper-text {
    gap: 20px;
  }
}

.address__title {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .address__title {
    font-size: 20px;
    line-height: 26px;
    width: 160px;
  }
}

.address__description {
  color: #444444;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .address__description {
    width: 160px;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1299px) {
  .address__description {
    text-align: right;
  }
}

.advantages {
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .advantages {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .advantages {
    margin-bottom: 43px;
    padding: 20px;
    padding-bottom: 49px;
  }
}

.advantages__container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__container {
    width: 708px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1300px) {
  .advantages__container {
    width: 1220px;
    border-bottom: none;
  }
}

.advantages__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1300px) {
  .advantages__title {
    margin-bottom: 100px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 154px;
    row-gap: 37px;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .advantages__item {
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    align-items: start;
    padding-top: 40px;
    padding-right: 72px;
    min-height: 280px;
    counter-increment: process;
  }
}
@media (min-width: 768px) {
  .advantages__item::after {
    content: counter(process);
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
  }
}

.advantages__description {
  color: #444444;
}
@media (min-width: 768px) {
  .advantages__description {
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    align-self: start;
  }
}

.advantages__icon {
  display: inline-block;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .advantages__icon {
    width: 80px;
    height: 80px;
  }
}

.advantages__icon--leaf {
  background-image: url("../img/leaf-icon.svg");
}

.advantages__icon--tub {
  background-image: url("../img/tub-icon.svg");
}

.advantages__icon--eat {
  background-image: url("../img/eat-icon.svg");
}

.advantages__icon--alarm {
  background-image: url("../img/alarm-icon.svg");
}

.button {
  text-decoration: none;
  color: #222222;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 11px 12px;
  display: inline-block;
  border: none;
}
@media (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.cat-slider {
  background-color: #eaeaea;
  padding: 25px 20px;
}
@media (min-width: 768px) {
  .cat-slider {
    background-image: linear-gradient(to top, #eaeaea 400px, #ffffff 400px);
    padding: 0;
  }
}
@media (min-width: 1300px) {
  .cat-slider {
    background-image: linear-gradient(to top, #eaeaea 470px, #ffffff 470px);
  }
}

.cat-slider__container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .cat-slider__container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .cat-slider__container {
    display: grid;
    grid-template-columns: 436px 1fr;
    column-gap: 194px;
    width: 1220px;
  }
}

.cat-slider__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 32px;
  width: 100%;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .cat-slider__wrapper {
    grid-template-columns: 162px 162px 1fr 174px;
    gap: 42px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1300px) {
  .cat-slider__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/2;
    row-gap: 55px;
    margin-bottom: 75px;
  }
}

.cat-slider__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 70px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
}
@media (min-width: 768px) {
  .cat-slider__list {
    width: 162px;
    height: 77px;
  }
}

.cat-slider__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .cat-slider__title {
    font-size: 30px;
    line-height: 37px;
  }
}

.cat-slider__definition {
  margin: 0;
  position: absolute;
  bottom: -12px;
  width: min-content;
  color: #444444;
  background-color: #eaeaea;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 0 14px 0 14px;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .cat-slider__definition {
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    bottom: -7px;
    padding: 0 7px 0 7px;
    background-color: #ffffff;
  }
}

.cat-slider__description {
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .cat-slider__description {
    padding-right: 20px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1300px) {
  .cat-slider__description {
    padding-right: 0;
    margin-bottom: 69px;
  }
}

.cat-slider__wrapper-text {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  grid-column: 1/3;
  justify-self: center;
}
@media (min-width: 768px) {
  .cat-slider__wrapper-text {
    grid-column: 4/5;
    gap: 9px;
    justify-content: start;
    flex-direction: column;
    align-items: end;
    padding-top: 14px;
  }
}
@media (min-width: 1300px) {
  .cat-slider__wrapper-text {
    grid-column: 1/3;
    flex-direction: row;
    padding-top: 0;
    gap: 100px;
    width: 100%;
  }
}

.cat-slider__price {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .cat-slider__price {
    font-size: 20px;
    line-height: 20px;
  }
}

.cat-slider__main {
  width: 100%;
  padding-bottom: 40px;
}
@media (min-width: 1300px) {
  .cat-slider__main {
    width: 592px;
    grid-row: 1/4;
    grid-column: 2/3;
    padding-bottom: 70px;
  }
}

.cat-slider__images {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .cat-slider__images {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 0 50px;
  }
}
@media (min-width: 1300px) {
  .cat-slider__images {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .cat-slider__image {
    overflow: hidden;
    display: flex;
  }
}
.cat-slider__image img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .cat-slider__image img {
    width: 594px;
    height: 511px;
    max-width: none;
  }
}

@media (min-width: 768px) {
  .cat-slider__image--right {
    justify-content: end;
  }
}
@media (max-width: 767px) {
  .cat-slider__image--right {
    display: none;
  }
}

@media (min-width: 768px) {
  .cat-slider__buttons-wrapper {
    margin: 0 80px;
  }
}
@media (min-width: 1300px) {
  .cat-slider__buttons-wrapper {
    margin: 0;
  }
}

.catalog-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog-options {
    width: 708px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1300px) {
  .catalog-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    width: 1220px;
    margin-bottom: 71px;
  }
}

.catalog-options__item {
  background-color: #f2f2f2;
  padding: 24px 20px 20px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 20px;
  column-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .catalog-options__item {
    grid-template-columns: 340px 1fr;
    gap: 0;
    padding: 77px 62px 57px 52px;
  }
}
@media (min-width: 1300px) {
  .catalog-options__item {
    padding: 47px 52px 59px 52px;
    column-gap: 62px;
    row-gap: 39px;
  }
}

.catalog-options__title {
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  margin: auto 0;
  grid-column: 2/3;
}
@media (min-width: 768px) {
  .catalog-options__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1299px) {
  .catalog-options__title {
    grid-column: 1/2;
  }
}
@media (min-width: 1300px) {
  .catalog-options__title {
    margin: auto 0;
  }
}

.catalog-options__icon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .catalog-options__icon {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 200px;
    height: 200px;
    align-self: center;
    justify-self: end;
  }
}
@media (min-width: 1300px) {
  .catalog-options__icon {
    width: 100px;
    height: 100px;
  }
}

.catalog-options__icon--slim::before {
  content: "";
  background-image: url("../img/cat-slim-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
}

.catalog-options__icon--pro::before {
  content: "";
  background-image: url("../img/cat-pro-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
  height: 130%;
}

.catalog-options__description {
  color: #222222;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 2/3;
}
@media (min-width: 768px) {
  .catalog-options__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1299px) {
  .catalog-options__description {
    grid-column: 1/2;
  }
}
@media (min-width: 1300px) {
  .catalog-options__description {
    margin-bottom: 0;
  }
}

.catalog-options__link {
  text-decoration: none;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  grid-column: 1/-1;
  grid-row: 3/4;
  padding-top: 15px;
}
.catalog-options__link::after {
  content: "";
  position: absolute;
  margin-left: 15px;
  top: 50%;
  background-image: url("../img/arrow-icon.svg");
  width: 32px;
  height: 12px;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .catalog-options__link {
    border-top: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .catalog-options__link {
    font-size: 20px;
    line-height: normal;
  }
}
.catalog-options__link:hover::after {
  background-image: url("../img/arrow-icon-hover.svg");
}
.catalog-options__link:active {
  opacity: 0.3;
}

.page-footer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    height: 147px;
  }
}
@media (min-width: 1300px) {
  .page-footer {
    padding: 0 110px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding: 39px 0 32px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__logo {
    justify-content: flex-start;
    padding: 63px 0 62px 0;
  }
}

.page-footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .page-footer__copyright-wrapper {
    justify-content: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    gap: 20px;
  }
}
.page-footer__copyright-wrapper:active .page-footer__copyright, .page-footer__copyright-wrapper:active .page-footer__copyright-logo {
  opacity: 0.3;
}

.page-footer__copyright {
  text-decoration: none;
  padding: 22px 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-header {
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: 1300px) {
  .page-header__background::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-program-big.jpg");
    background-color: #63a63b;
    top: 0;
    right: 0;
    bottom: -655px;
    left: 50%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 0 100%;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .page-header__container {
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 13px;
  }
}
@media (min-width: 768px) {
  .page-header__container {
    justify-content: flex-start;
  }
}

.page-header__nav {
  position: relative;
}
@media (min-width: 768px) {
  .page-header__nav {
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px;
  }
}

.page-header__logo {
  text-decoration: none;
}
@media (max-width: 767px) {
  .page-header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 191px;
  }
  .page-header__logo::before {
    content: "";
    display: block;
    background-image: url("../img/logo-small.svg");
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  .page-header__logo {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .logo__name {
    width: 100%;
    height: 100%;
  }
}

.page-header__toggle {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  z-index: 2;
  background-color: transparent;
}

.page-main__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  text-align: start;
  line-height: 36px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 27px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 82px;
    padding: 0;
  }
}

.page {
  min-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}
@media (min-width: 1300px) {
  .page {
    min-width: 1300px;
  }
}

.page__body {
  color: #222222;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.page__footer {
  margin-top: auto;
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .program {
    width: 708px;
    padding: 0 90px 526px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
  }
}
@media (min-width: 1300px) {
  .program {
    padding: 20px 610px 200px 80px;
    width: 1220px;
    margin-bottom: 200px;
  }
}

.program__container {
  width: 320px;
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/index-background-program-small.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  background-color: #68b738;
  margin-bottom: 138px;
}
@media (min-width: 768px) {
  .program__container {
    background: none;
    width: 414px;
    height: auto;
    margin-bottom: 50px;
    align-items: flex-start;
  }
}

.program__title {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .program__title {
    color: #000000;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: start;
    margin-bottom: 40px;
  }
}

.program__description {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .program__description {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}

.program__image {
  position: absolute;
}
@media (max-width: 767px) {
  .program__image {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .program__image {
    width: 708px;
    height: 609px;
    top: 220px;
    left: 0;
    z-index: -1;
  }
}
@media (min-width: 1300px) {
  .program__image {
    width: 552px;
    height: 499px;
    top: 50px;
    left: 450px;
  }
}

.program__button {
  width: 280px;
  text-align: center;
}
@media (min-width: 768px) {
  .program__button {
    align-self: flex-start;
    margin: 0;
  }
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .site-nav {
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 100%;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .site-nav {
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media (min-width: 1300px) {
  .site-nav {
    justify-content: flex-end;
    gap: 32px;
  }
}

@media (max-width: 767px) {
  .site-nav--closed {
    display: none;
  }
}
.site-nav__item {
  width: 100%;
  padding: 22px 0 24px 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-nav__item {
    width: auto;
    border-top: none;
    padding: 17px;
  }
}

.site-nav__item--active {
  position: relative;
}
.site-nav__item--active .site-nav__link::before {
  content: "";
}
@media (min-width: 768px) {
  .site-nav__item--active .site-nav__link::before {
    position: absolute;
    bottom: 10px;
    right: 17px;
    left: 17px;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1300px) {
  .site-nav__item--active .site-nav__link::before {
    background-color: #ffffff;
  }
}

.site-nav__item--active-other {
  position: relative;
}
.site-nav__item--active-other .site-nav__link::before {
  content: "";
}
@media (min-width: 768px) {
  .site-nav__item--active-other .site-nav__link::before {
    position: absolute;
    bottom: 10px;
    right: 17px;
    left: 17px;
    height: 2px;
    background-color: #68b738;
  }
}

.site-nav__link {
  text-decoration: none;
  align-self: center;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}
.site-nav__link:hover {
  opacity: 0.6;
}
.site-nav__link:active {
  opacity: 0.3;
}
@media (min-width: 1300px) {
  .site-nav__link {
    color: #ffffff;
  }
}

@media (min-width: 1300px) {
  .site-nav__link--black {
    color: #000000;
  }
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.switcher__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .switcher__button {
    font-size: 20px;
    border-bottom: 1px dotted #cdcdcd;
  }
  .switcher__button:hover {
    border-bottom-style: solid;
  }
  .switcher__button:active {
    border-bottom-style: none;
  }
}

.switcher__img {
  background-image: url("../img/slider-mini.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 86px;
  height: 14px;
}
@media (min-width: 768px) {
  .switcher__img {
    display: none;
  }
}

.switcher__bar {
  width: 426px;
  height: 6px;
  border-radius: 6px;
  background: #dcdcdc;
}
@media (max-width: 767px) {
  .switcher__bar {
    display: none;
  }
}

.switcher__bar::-moz-range-thumb {
  height: 30px;
  width: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-moz-range-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-moz-range-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -10px;
  padding: 0;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-runnable-track,
.switcher__bar::-moz-range-track {
  height: 8px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.switcher__bar::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 767px) {
  .card {
    border-top: 1px solid #ebebeb;
  }
}
@media (min-width: 768px) {
  .card {
    background-image: linear-gradient(to top, #eaeaea 400px, #ffffff 400px);
  }
}

.card__link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 280px;
  margin: 8px auto 11px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card__link {
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    justify-items: center;
    width: 100%;
    margin: 0;
    padding: 8px 38px 40px;
  }
}

.card__link-title {
  text-decoration: none;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 76px;
  padding-bottom: 14px;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .card__link-title {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 174px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 21px;
  }
}

.card__definition-block {
  color: #444444;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (min-width: 768px) {
  .card__definition-block {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 16px;
    width: 100%;
  }
}

.card__link-image {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: end;
  justify-self: center;
}
@media (min-width: 768px) {
  .card__link-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.card__button {
  grid-column: 1/3;
  margin-top: 22px;
}
@media (min-width: 768px) {
  .card__button {
    grid-column: 1/2;
    width: 100%;
    margin-top: 33px;
  }
}

.card__definition-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card__definition-block-wrapper {
    padding-bottom: 2px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 5px;
  }
}

.catalog {
  overflow: hidden;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 768px) {
  .catalog__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .catalog__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 60px;
  }
}

@media (max-width: 767px) {
  .catalog__show-more {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
}
@media (min-width: 768px) {
  .catalog__show-more {
    display: flex;
    align-items: end;
  }
}

.catalog__show-more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .catalog__show-more-wrapper {
    width: 280px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .catalog__show-more-wrapper {
    border: 1px solid #f2f2f2;
    padding: 8px 38px 40px;
    width: 100%;
  }
}

.catalog__show-more-image {
  margin-bottom: 23px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .catalog__show-more-image {
    width: 60px;
    height: 60px;
    margin-bottom: 27px;
    margin-top: 30px;
  }
}

.catalog__show-more-description {
  margin: 0 0 8px 0;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .catalog__show-more-description {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
}

.catalog__slim-text {
  color: #444444;
  margin-bottom: 21px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .catalog__slim-text {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}

.catalog__show-more-button {
  background-color: #f2f2f2;
  color: #444444;
  width: 100%;
}
.catalog__show-more-button:hover {
  background-color: #ebebeb;
}
.catalog__show-more-button:active {
  color: rgba(68, 68, 68, 0.3);
}

.optionally {
  position: relative;
}
.optionally::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .optionally::before {
    top: 50px;
  }
}

.optionally__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 1300px) {
  .optionally__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}

.optionally__title {
  color: #000000;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: max-content;
  position: relative;
  padding: 0 20px;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .optionally__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-left: -25px;
    padding: 0 36px;
  }
}

.optionally__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .optionally__list {
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1299px) {
  .optionally__list {
    margin-bottom: 69px;
  }
}

.optionally__item {
  display: grid;
  grid-template-columns: auto;
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0 19px;
}
.optionally__item:first-child {
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .optionally__item {
    padding: 26px 38px 28px 38px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .optionally__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1300px) {
  .optionally__item {
    border-left: none;
    border-right: none;
    padding: 15px 0 17px 0;
    width: 895px;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 38px;
  }
}

.optionally__position-title {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .optionally__position-title {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin: auto 0;
  }
}

.optionally__description,
.optionally__description-price {
  color: #444444;
  line-height: 14px;
}
@media (min-width: 768px) {
  .optionally__description,
.optionally__description-price {
    text-align: end;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
  }
}
@media (min-width: 1300px) {
  .optionally__description,
.optionally__description-price {
    margin: auto 0;
  }
}

.optionally__description {
  grid-column: 1/2;
}
@media (min-width: 768px) {
  .optionally__description {
    grid-column: 2/3;
  }
}

.optionally__description-price {
  grid-column: 2/3;
  justify-self: end;
}
@media (min-width: 768px) {
  .optionally__description-price {
    grid-column: 3/4;
  }
}

.optionally__button {
  grid-column: 1/3;
}
@media (min-width: 768px) {
  .optionally__button {
    grid-column: 1/4;
  }
}
@media (min-width: 1300px) {
  .optionally__button {
    grid-column: 4/5;
    width: 244px;
  }
}

.optionally__gift-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 290px;
  margin-bottom: 35px;
  background-image: url("../img/catalog/cat-gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68b738;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .optionally__gift-info {
    width: 100%;
    height: 200px;
    margin-bottom: 76px;
    flex-direction: row;
    justify-content: space-around;
    background-position: center;
  }
}
@media (min-width: 1300px) {
  .optionally__gift-info {
    width: 244px;
    height: 303px;
    margin-bottom: 0;
  }
}

.optionally__gift-info-text {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .optionally__gift-info-text {
    text-align: left;
  }
}

.cat-data {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .cat-data {
    gap: 20px;
    border-bottom: none;
    margin-bottom: 72px;
    padding-bottom: 0;
  }
}

.cat-data__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
}

.cat-data__label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .cat-data__label {
    font-size: 20px;
    line-height: normal;
  }
}

.cat-data__input {
  flex-grow: 1;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 46px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .cat-data__input {
    font-size: 20px;
    line-height: 30px;
  }
}
.cat-data__input:hover {
  border: 1px solid #cdcdcd;
}
.cat-data__input:focus-visible {
  outline: none;
  border: 2px solid #444444;
}
.cat-data__input:focus-visible .contacts__icon {
  fill: #68b738;
}

.program-data {
  margin: 0;
  padding: 0;
  color: #222222;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 26px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .program-data {
    gap: 23px;
    border: 1px solid #cdcdcd;
    padding: 30px 25px 30px 25px;
    margin-bottom: 70px;
  }
}

.program-data__item {
  position: relative;
}
.program-data__item:hover .program-data__radio-icon {
  border-color: #bababa;
}

.program-data__label {
  padding-left: 45px;
}
@media (min-width: 768px) {
  .program-data__label {
    padding-left: 55px;
  }
}

.program-data__radio-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .program-data__radio-icon {
    width: 40px;
    height: 40px;
  }
}

.program-data__input:checked ~ .program-data__radio-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .program-data__input:checked ~ .program-data__radio-icon::before {
    width: 18px;
    height: 18px;
  }
}

.comment {
  margin: 0;
  padding: 0;
  border: none;
}

.comment__textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .comment__textarea {
    margin-bottom: 65px;
    height: 175px;
  }
}

.contacts {
  margin: 0;
  padding: 0;
  border: none;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    gap: 20px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1300px) {
  .contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__header {
  color: #000000;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: max-content;
  padding: 0 20px;
  margin-bottom: 35px;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .contacts__header {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
  .contacts__header br {
    display: none;
  }
}

.contacts__item {
  position: relative;
}
.contacts__item:hover .contacts__input {
  border-color: #cdcdcd;
}

.contacts__input {
  padding-right: 40px;
}

.contacts__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.contacts__icon--phone {
  background-image: url("../img/form/phone-icon.svg");
}
.contacts__icon--mail {
  background-image: url("../img/form/email-icon.svg");
}

.form__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  line-height: 36px;
  margin-bottom: 37px;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 54px;
  }
}

.form__description {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .form__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form__text {
  color: #000000;
  text-align: center;
  line-height: 16px;
}

@media (min-width: 1300px) {
  .form__wrapper--top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 80px;
  }
}

.form__wrapper--bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .form__wrapper--bottom {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 72px;
  }
}

.optionally-staff {
  margin: 0;
  padding: 0;
  border: none;
}

.optionally-staff__label {
  color: #000000;
}

.optionally-staff__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .optionally-staff__wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }
}
@media (min-width: 1300px) {
  .optionally-staff__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.optionally-staff__item {
  position: relative;
  padding-left: 50px;
}
@media (min-width: 768px) {
  .optionally-staff__item {
    padding-left: 60px;
  }
}
.optionally-staff__item:hover .optionally-staff__checkbox-icon {
  border-color: #bababa;
}

.optionally-staff__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .optionally-staff__checkbox-icon {
    width: 40px;
    height: 40px;
  }
}

.optionally-staff__checkbox:checked ~ .optionally-staff__checkbox-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("../img/form/tick.svg");
  background-repeat: no-repeat;
}

.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 280px;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

.title-line {
  position: relative;
}
.title-line::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .title-line::before {
    top: 20px;
  }
}

.social__link:active .social__image {
  opacity: 0.3;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

@media (min-width: 768px) {
  .toggle,
.toggle--opened {
    display: none;
  }
}
.toggle--opened::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(45deg);
  height: 2px;
  width: 24px;
  background-color: #000000;
}

.toggle--opened::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(-45deg);
  height: 2px;
  width: 24px;
  background-color: #000000;
}
/*# sourceMappingURL=style.css.map */