//fonts variables
$font-header: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

//color variables
$basic-white: #ffffff;
$basic-black: #000000;
$basic-gray: #f2f2f2;
$basic-green: #68b738;

$color-gray-1: #ebebeb;
$color-gray-2: #d9d9d9;
$color-gray-3: #cdcdcd;
$color-gray-4: #666666;
$color-gray-5: #444444;
$color-gray-6: #222222;
$color-gray-7: #111111;
